.client {
  max-width: 68rem;
  width: 100%;
  margin: 10rem auto 5rem auto;
}

.heading-clients-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-section {
  flex: 1;
  text-align: left;
  margin-top: 8rem;
  margin-left: 1.5rem;
}

.small-line {
  width: 5rem;
  padding: 1px;
  background-color: var(--color-gray-main-800);
}

.first-par,
.third-par,
.fourth-par {
  color: var(--color-gray-des-600);
}

.first-par {
  font-weight: 700;
  font-size: 1.5rem;
}

.big-line {
  width: 9rem;
  padding: 1px;
  background-color: var(--color-gray-main-800);
}

.client-heading {
  font-size: 2.4rem;
  color: var(--color-gray-main-800);
  font-family: "Be Vietnam Pro", "Inter", sans-serif;
}

.clients-section {
  flex: 1;
}

.client-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5rem;
}

.bycycle-flex,
.directiq-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;

  background-color: var(--color-gray-100);
  padding: 2rem;
  box-shadow: 1px 1px 10px rgba(107, 107, 219, 0.3);
  transition: all 0.3s ease-in-out;
}

.bycycle-flex:hover,
.directiq-flex:hover {
  transform: scaleX(1.05);
}

.logo-name-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-logo {
  width: 4rem;
  object-fit: cover;
}

.company-name {
  color: var(--color-gray-main-800);
  font-size: 1.4rem;
  font-family: "Be Vietnam Pro", "Inter", sans-serif;
}

.ad-img {
  width: 13rem;
  object-fit: cover;
}
