.pricing-section {
  margin: 2rem 0 0 0;
  padding: 3.5rem 2rem 3rem 2rem;
  text-align: center;
  background-color: var(--color-main-100);
}

.pricing-heading {
  color: var(--color-gray-main-800);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 3.125rem;
  font-family: "Be Vietnam Pro", "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.pricing-heading span {
  display: block;
}

.flex-pricing-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
  flex-wrap: wrap;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.best-deal {
  position: absolute;
  background-color: rgb(255, 49, 49);
  color: var(--color-gray-100);
  padding: 0.4rem 0.7rem;
  top: 0;
  margin-top: -17.2px;
  margin-left: 53px;

  border-radius: 18px;
  box-shadow: 1px 3px 7px rgba(107, 107, 219, 0.5);
  z-index: 50;
}

.standard-pricing-box {
  background-color: var(--color-gray-100);
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgb(0,0,0,0.5);
  padding: 1.8rem 2.5rem;
  margin-top: 4.25rem;
  margin-bottom:2.25rem;

  position: relative;
  transition: all 0.3s ease-in-out;
}

.standard-pricing-box:hover {
  transform: scaleX(1.05);
}

.pricing-type {
  color: var(--color-gray-main-800);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Be Vietnam Pro", "Inter", sans-serif;
  margin: 0.6rem 0 1.25rem 0;
}

.scale-gap-des {
  margin-bottom: 44px;
}
  
.pricing-type-description {
  color: var(--color-gray-des-600);
  font-size: 1rem;
}

.pricing-type-description span {
  display: block;
}

.price {
  color: var(--color-gray-main-800);
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
}

.dollar-sign {
  color: var(--color-gray-des-600);
  font-size: 1.875rem;
  font-weight: 700;
}

.month-price {
  color: var(--color-gray-600);
  font-size: 1.625rem;
  font-weight: 500;
}

.hr-line-pricing {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pricing-container {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.service-detail-line {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.service-detail-line p {
  display: inline-block;
  color: var(--color-gray-des-600);
  margin: 0;
  font-size: 0.9rem;
}


/* Responsive Design */

@media (max-width: 51rem) {
  .pricing-heading {
    font-size: 2.4rem;
  }

  .pricing-heading span {
    display: inline;
  }
  

  .flex-pricing-box {
    row-gap: 2rem;
  }

  .pricing-heading {
    margin-bottom: 3rem;
  }

  .standard-pricing-box {
    margin: 0;
  }
}

@media (max-width: 28.75rem) {
  .pricing-heading {
    text-align: left;
  }

  .best-deal {
    margin-left: 15%;
  }
}

@media (max-width: 25.7rem) {
  .pricing-type-description span {
    display: inline;
  }

  .service-detail-line {
    align-items: start;
  }

  .service-detail-line p {
    text-align: left;
  }

  .best-deal {
    margin-left: 12.5%;
  }
}