#solution-container {
  background-color: rgb(244, 205, 205);
  position: relative;
  padding-bottom: 8.5rem;
}

.note-box {
  width: 25rem;
  text-align: left;
  margin-top: 10rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
  color: var(--color-gray-des-600);
  background-color: rgb(243, 246, 150);
  box-shadow: 1px 1px 10px rgba(107, 107, 219, 0.3);
  border-radius: 7px;
}

.note-1 {
  position: absolute;
  left: 50%;
  right: 30rem;
  top: 10rem;
}

.arrow-note-1 {
  position: absolute;
  left: 30%;
  top: 23rem;
  opacity: calc(0.6);
}

.arrow-note-1 img, 
.arrow-note-2 img,
.arrow-note-3 img {
  width: 10rem;
}

.note-2 {
  position: absolute;
  right: 67.5%;
  top: 47rem;
  width: 18.4rem;
}

.arrow-note-2 img {
  width: 8rem;
}

.arrow-note-2 {
  position: absolute;
  left: 18rem;
  top: 52rem;
  opacity: calc(0.6);
}

.note-3 {
  position: absolute;
  left: 23%;
  top: 80%;
}

.arrow-note-3 {
  position: absolute;
  right: 16rem;
  top: 95%;
  opacity: calc(0.6);
}

.solutions-section {
  max-width: 68rem;
  width: 93.9%;
  margin: 0 auto;
  padding: 4rem 2rem 4rem 2rem;
  position: relative;
}

.solutions-header {
  font-size: 2.25rem;
  font-family: "Be Vietnam Pro", "Inter", sans-serif;
  color: var(--color-gray-main-800);
  line-height: 3rem;
}

.solutions-header span {
  display: block;
}

.solutions-des {
  font-size: 1.55rem;
  color: var(--color-gray-des-600);
  margin-bottom: 4rem;
}

.solutions-des span {
  display: block;
}

/* Containers */

.solutions-section ul, 
.solutions-section li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-solutions {
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  column-gap: 3rem;
  box-sizing: border-box;
}

.flex-solution-container {
  flex: 1;
  height: 32rem;
  background-color: var(--color-gray-100);

  border-radius: 1rem;
  box-shadow: 1px 1px 10px rgba(107, 107, 219, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: top;
  overflow: hidden;

  transition: all 0.3s ease-in-out;
}

#second-container-15rem {
  margin-top: 15rem;
  padding-bottom: 2rem;
}

#third-container-30rem {
  margin-top: 30rem;
}

.blue-solution-container {
  margin-top: 15rem;

  background-color: var(--color-main-500);
  box-shadow: 1px 1px 8px rgba(245, 243, 243, 0.3);
}

.flex-solution-container:hover {
  transform: scaleX(1.05);
}

.container-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.9rem;
}

.flex-container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-container-content li {
  padding: 0 1.5rem;
}

.flex-content-head {
  display: flex;
  flex-direction: row;
  justify-content: left;

  align-items: center;
}

.content-img {
  width: 3.1rem;
  height: 3.1rem;
  object-fit: cover;
  border-radius: 10px;
}

.flex-content-head h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Be Vietnam Pro", "Inter", sans-serif;
  color: var(--color-gray-main-800);

  margin-left: 1rem;
  text-align: left;
}

.blue-content-head h3 {
  color: var(--color-gray-100);
}

.hr-line-sol {
  padding: 0.7px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.content-des-sol {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: var(--color-gray-des-600);
}

.blue-content-des-sol {
  color: var(--color-gray-100);
}


/* Responsive Design */

@media (max-width: 83.75rem) {
  .note-2 {
    top: 50rem;
  }

  .arrow-note-2 img {
    width: 10rem;
  }

  .arrow-note-2 {
    left: 16.5rem;
    top: 51.5rem;
    opacity: calc(0.6);
  }
}

@media (max-width: 73.75rem) {
  .note-2 {
    width: 16rem;
    margin-top: 7rem;
    right: 68%;
  }

  .arrow-note-2 img {
    width: 8rem;
  }
}

@media (max-width: 62rem) {
  #solution-container {
    padding-bottom: 0rem;
  }

  .note-box {
    display: none;
  }

  .arrow-note-1,
  .arrow-note-2,
  .arrow-note-3 {
    display: none;
  }

  #second-container-15rem {
    margin-top: 0rem;
    padding-bottom: 0;
  }
  
  #third-container-30rem {
    margin-top: 0rem;
  }

  .solutions-section {
    width: 90%;
  }

  .solutions-header {
    margin-top: 4rem;
  }

  .solutions-section ul {
    margin: 0 auto;
  }

  .solutions-des span {
    display: inline;
  }

  .flex-solutions {
    flex-direction: column;
    row-gap: 3rem;
    width: 70%;
  }

  .container-img {
    height: 14rem;
  }
}

@media (max-width: 40rem) {
  .solutions-section {
    padding: 4rem 0;
  }
}

@media (max-width: 33.2rem) {
  .solutions-section {
    width: 95%;
  }

  .container-img {
    height: 10rem;
  }

  .solutions-header {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .solutions-header span {
    display: inline;
  }

  .solutions-des {
    font-size: 1.1rem;
  }

  .content-img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .flex-solutions {
    width: 80%;
  }

  .flex-content-head h3 {
    font-size: 1.3rem;
  }

  .content-des-sol {
    font-size: 0.9rem;
  }
}

@media (max-width: 25.6rem) {
  .flex-solutions {
    width: 85%;
  }
}